asgiref==3.7.2
beautifulsoup4==4.12.3
black==23.12.1
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
crispy-bootstrap4==2023.1
cycler==0.12.1
Django==5.0.1
django-crispy-forms==2.1
fabio==2023.10.0
flake8==7.0.0
fonttools==4.47.2
h5py==3.10.0
hdf5plugin==4.3.0
kiwisolver==1.4.5
lxml==5.1.0
matplotlib==3.8.2
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==1.26.3
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.1.0
pycodestyle==2.11.1
pyflakes==3.2.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
silx==1.1.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.4
