{% extends 'base.html' %}

{% block content %}
<h1>Schema List <a href="{% url 'schemas:create_schema' %}">+</a></h1>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Modified</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for schema in schema_list %}
                  {% if user.id == schema.user_id %}
                    <tr>
                        <td>{{ schema.id }}</td>
                        <td><a href="{% url 'schemas:schema-detail' pk=schema.id %}">{{ schema.title }}</a></td>
                        <td>{{ schema.created_at }}</td>
                        <td>
                          <a class="btn btn-primary" href="{% url 'schemas:schema-delete' pk=schema.id %}">Edit</a>
                          <a class="btn btn-danger" href="{% url 'schemas:schema-delete' pk=schema.id %}">Delete</a>
                        </td>
                    </tr>
                  {% endif %}
                {% empty %}
                    <tr>
                        <td colspan="5">No schemas found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
